#aboutme_div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    color: var(--main-color);
}

a{
    text-decoration: none;
    color: var(--main-color);
    font-style: italic;
}
a:hover{
    text-decoration: none;
    color: var(--main-color-accent)
}
