#contactbuttons_div{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 3em;
}
.contactbutton{
    background: var(--main-color);
    border-radius: 40%;
    border: 0;
    margin-left: 10px;
    height: 75%;
    width: 75%;
}
.contactbutton:hover{
    background: var(--main-color-accent);
}
.contactbutton:active{
    background: var(--main-color-accent);
}