:root{
    --main-color: #ffdead;
    --main-color-accent: deepskyblue;

    --transparent-color: rgba(19, 28, 28, 0.7);
    --transparent-color-dark: rgba(0, 0, 0, 0.8);
}

/*==============*/
/*GENERAL LAYOUT*/
/*==============*/
html,body{
    height:100%;
    width:100%;
}
#background{
    position: fixed;
    height:100%;
    width: 100%;

    background: url("../images/background.gif") no-repeat;
    background-size: cover;
    filter: blur(5px);
}
#content{
    position: fixed;
    height:100%;
    width: 100%;
}
/*==============*/
/*HEADER  LAYOUT*/
/*==============*/
#header{
    height: 10%;
    color: var(--main-color);
    padding: 0;

    display: flex;
    align-items: center;
}
/*==============*/
/* BODY  LAYOUT */
/*==============*/
#body{
    height: 82.5%;
    display: flex;
    overflow: scroll;
}
/*==============*/
/*FOOTER  LAYOUT*/
/*==============*/
#footer{
    height: 7.5%;
    color: var(--main-color);
    padding: 0;

    display: flex;
    align-content: center;
    align-items: center;
}